{% load static %}


<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habitaciones</title>
    <link type="text/css" rel="stylesheet" href="{% static 'core/css/hoteles.css' %}">

    <!--BOOTSTRAP CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/searchpanes/1.3.0/css/searchPanes.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">

</head>

<body>

    <div class="container-fluid" id="fondo">
        <br>
        <h1 class="text-center" id=titulo>
            Habitaciones
        </h1>
        <br>
        <div class="row">
            <div class="col">
            <table id="example" class="table table-bordered table-dark  display nowrap" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Cant. Personas</th>
                        <th>Cant. Camas</th>
                        <th>Cant. Baños</th>
                        <th>Tipo de Servicio</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1 Persona</td>
                        <td>1 Cama</td>
                        <td>1 Baño</td>
                        <td>Premium</td>
                        <td>$500.000</td>
                    </tr>
                    <tr>
                        <td>2 Personas</td>
                        <td>2 Camas</td>
                        <td>2 Baños</td>
                        <td>Premium</td>
                        <td>$800.000</td>
                    </tr>
                    <tr>
                        <td>3 Personas</td>
                        <td>3 Camas</td>
                        <td>2 Baños</td>
                        <td>Premium</td>
                        <td>$1.000.000</td>
                    </tr>
                    <tr>
                        <td>1 Persona</td>
                        <td>1 Cama</td>
                        <td>1 Baño</td>
                        <td>Completo</td>
                        <td>$450.000</td>
                    </tr>
                    <tr>
                        <td>2 Personas</td>
                        <td>2 Camas</td>
                        <td>2 Baños</td>
                        <td>Completo</td>
                        <td>$750.000</td>
                    </tr>
                    <tr>
                        <td>3 Personas</td>
                        <td>3 Camas</td>
                        <td>2 Baños</td>
                        <td>Completo</td>
                        <td>$950.000</td>
                    </tr>
                    
                    
                </tbody>                
            </table>           
            </div>
        </div>
        <img src="{% static 'core/img/veranum blanco.png' %}" alt="Logo" id="logo">
    </div>


        



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/searchpanes/1.3.0/js/dataTables.searchPanes.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>

    <script src="{% static 'core/js/hoteles.js' %}"></script>
</body>

</html>