{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mantenedor de Usuarios</title>
    <link type="text/css" rel="stylesheet" href="{% static 'core/css/lista_registrados.css' %}">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <br><br>
        <h1 class="text-center titulo">Usuarios</h1>
        <a href="{% url 'add_cliente' %}" class="btn btn-success" >Agregar Usuario</a><br><br>
        <table class="table table-striped table-dark">
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Nombre de usuario</th>
                <th>Numero telefonico</th>
                <th>Correo</th>
                <th>Modificar</th>
                <th>Eliminar</th>
            </tr>
            {% for reg in cliente %}
                <tr>
                    <td>{{ reg.nombre }}</td>
                    <td>{{ reg.apellido }}</td>
                    <td>{{ reg.nom_usuario }}</td>
                    <td>{{ reg.num_telefonico }}</td>
                    <td>{{ reg.correo }}</td>
                    <td>
                        <a href="{% url 'edit_cliente' reg.id_cliente %}" class="btn btn-primary" >Editar</a>
                        
                    </td>
                    <td>
                        <a href="{% url 'delete_cliente' reg.id_cliente %}" class="btn btn-danger" >Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <img src="{% static 'core/img/veranum blanco.png' %}" alt="Logo" id="logo">
    </div>
 
    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>