<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    
    <link type="text/css" rel="stylesheet" href="../../static/core/css/registro.css">
    <!--BOOTSTRAP CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  
</head>
<body>
  
  <div class="container-fluid" id="fondo">


    
      <div class="container" id="container">
        <form name="registration" id="formulario">

          <h1 align="center" id=titulo>
            Registro
            </h1>
    
        <p></p>
    
            <div class="row">
    
                <div class="col-md-6">
                <div class="form-group">
                    
                    <label for="Nombre">Nombre</label>
                    <input type="text" class="form-control" name="Nombre" id="Nombre" placeholder="Manuel">
                </div>
                </div>
    
                <div class="col-md-6">
                <div class="form-group">
                    
                    <label for="Apellidos">Apellido</label>
                    <input type="text" class="form-control" name="Apellidos" id="Apellidos" placeholder="Vico">
                </div>
                </div>
            </div>

            <div class="row">
    
                <div class="col-md-6">
                <div class="form-group">
                    
                    <label for="Nombre">Nombre Usuario</label>
                    <input type="text" class="form-control" name="Nom_usu" id="Nom_usu" placeholder="Vico123">
                </div>
                </div>
    
                <div class="col-md-6">
                    <div class="form-group">
                    <label for="Num">Número Telefono</label>
                    <input type="text" class="form-control" name="Num" id="Num" placeholder="9 1234 5678">
                </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                <div class="form-group">
                    <label for="correo">Correo Electronico</label>
                    <input type="email" class="form-control" name="correo" id="correo" placeholder="example@ejemplo.com">
                </div>
                </div>
                <div class="col-md-6">
                <div class="form-group">
                    <label for="correo">Confirme Correo</label>
                    <input type="email" class="form-control" name="con_correo" id="con_correo" placeholder="example@ejemplo.com">
                </div>
            </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                
                  <div class="form-group">
                    <label for="contraseña1" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="contraseña1" name="contraseña1" placeholder="*****************" required>
                  </div>
                
              </div>
              <div class="col-md-6">
                
                  <div class="form-group">
                    <label for="contraseña2" class="form-label">Confirme Contraseña</label>
                    <input type="password" class="form-control" id="contraseña2" name="contraseña2" placeholder="*****************" required>
                  </div>
                
              </div>
              
            </div>
    
        <p></p>
        <div class="row">
        <div class="col-12">
            <div class="form-group">
              <div class="form-check">
                <div class="text-center">
                  <input class="form-check-input" type="checkbox" value="confirme" name="confirme" id="confirme" >
                  <label class="form-check-label" for="confirme" id="condiciones">
                    Estoy de acuerdo con Terminos y Condiciones
                  </label>
                  <img src="https://i.ibb.co/MScsL4h/veranum-blanco.png" alt="Logo" id="logo">
                </div>
              </div>
            </div>
          </div>
        </div>
    
          <div class="form-group" id="boton">
            <button class="btn btn-primary" type="submit" >Enviar</button>

          </div>
          
        </form>  
      </div>
    </div> 
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="../../static/core/js/registro.js"></script>
</body>
</html>