#fondo {
  position: absolute;
  background-image: url("/static/core/img/fondo.jpg");
  background-size: 100%;
  color: rgb(33, 165, 154);
  letter-spacing: 0.05rem;
  min-height: 100%;
}

h1 {
  color: white;
}

#logo {
  position: relative;
  width: 150px;
  height: 150px;
  left: 1350px;
  max-height:150px;
  margin-top: 1%;
}

table thead{
	background: linear-gradient(to right, #4A00E0, #8E2DE2); 
	color:white;
}

.dataTables_scrollBody{
  background-color: linear-gradient(to right, #4A00E0, #8E2DE2); 
  color:rgb(0, 0, 0);
  
}

.dtsp-title{
  color:rgb(255, 255, 255);
}


.disabledButton{
  float: right;
  margin: 80px;
  border: 1px solid red;
  background-color: red;
  padding: 10px;
  margin-bottom: 0px;
  margin-top: 5px;
}

.dtsp-panesContainer{
  background-color: rgb(51, 58, 64);
  border-style: none;
}

.dtsp-clearAll{
  background-color: aqua;
  color: white;
}



.dtsp-topRow {
  background-color: white;
  border-radius: 4px;
/*   width: 90%;
  font-size: 11px ; */
}


#DataTables_Table_0_wrapper{
  margin-top: 15px;
  border-color: rgb(51, 58, 64) ;
  width: 100%;
  height: 80%;
}

#DataTables_Table_1_wrapper{
  margin-top: 15px;
  border-color: rgb(51, 58, 64) ;
}

#DataTables_Table_2_wrapper{
  margin-top: 15px;
  border-color: rgb(51, 58, 64) ;
}

#DataTables_Table_3_wrapper{
  margin-top: 15px;
  border-color: rgb(51, 58, 64) ;
}


#example_filter{
  color: white;
}

#example_info{
  color:  white;
}


#paginate_button, .page-item, .active{
  display: none;
}