body{
    background-image: url('/static/core/img/fondo.jpg');
   /*  height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    background-size: 100%;
    color: rgb(33, 165, 154);
    letter-spacing: .05rem;
    min-height: 100%;
    position: relative;
}

#logo {
    position: relative;
    width: 150px;
    height: 150px;
    left: 975px;
    max-height:150px;
    margin-top: 5%;
}

.titulo {
    color: white;
}